&parameters
tag = ''
geom_file = ''
outdir = 'out/'
n_field_lines = 1 
n_parallel_pts = 64 
n_field_periods = 1.0  ! The maximum angle will be x3_center + pi/nfp*n_field_periods, where nfp is the number of field periods of the device
x3_center = 0.0
x3_coord = 'theta'
/
